<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
</head>
<body>
    <form action='/data/create' method = "POST">
        <p>employee ID <input type = "integer" name = "employee_id" /></p>
        <p>name <input type = "text" name = "name" /></p>
        <p>age <input type = "integer" name = "age" /></p>
        <p>position <input type = "text" name = "position" /></p>
        <p><input type = "submit" value = "Submit" /></p>
      </form>
</body>
</html>